@charset "UTF-8";
@media (max-width: 767px) {
  .menu-container {
    /* Иконка бургер-меню */
  }
  .menu-container .menu__icon {
    height: 18px;
    width: 30px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }
  .menu-container .menu__icon span,
.menu-container .menu__icon::before,
.menu-container .menu__icon::after {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: white;
  }
  .menu-container .menu__icon::before,
.menu-container .menu__icon::after {
    content: "";
  }
  .menu-container .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu-container .menu__icon::after {
    top: 0;
  }
  .menu-container .menu__icon::before {
    bottom: 0;
  }
  .menu-container .menu {
    display: none;
  }
  .menu-container .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 4;
  }
  .menu-container .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .menu-container .menu.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 23, 46, 0.9);
    padding: 20px;
    z-index: 2;
  }
  .menu-container .menu {
    display: block;
  }
  .menu-container .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    list-style: none;
  }
  .menu-container .menu__list li {
    margin: 20px 0px 30px 60px;
  }
  .menu-container .menu__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}