@import 'variables.scss';

body {
    background-color: $mainColor;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

@import 'header.scss';

main {
    margin-top: 60px;
    background-color: $mainColor;

    .about {
        display: flex;
        flex-flow: column nowrap;
        padding: 30px;

        .title-box {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            .title {
                font-family: $fontFamily;
                color: $fontColor;
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 70px;
                text-transform: uppercase;

                @media (max-width: 560px) {
                    font-size: 48px;
                }

                @media (max-width: 480px) {
                    font-size: 38px;
                }

            }
        }

        .row {
            width: 100%;
            display: flex;
            img {
                max-width: 100%;
                box-shadow: $shadow;
            }

            .text-box {
                margin-left: 30px;
                display: flex;
                flex-flow: column nowrap;

                p {
                    font-family: $fontFamily;
                    color: $mainWhite;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    margin: 5px;

                    a {
                        color: $mainWhite;
                        transition: text-decoration 0.3s ease 0s;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .location {
        background-color: $secondColor;

        .title-box {
            display: flex;
            justify-content: center;
            align-items: center;

            .title {
                font-family: $fontFamily;
                color: $fontColor;
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 70px;
                text-transform: uppercase;
            }
        }

        .map {
            padding: 30px;
        }
    }
}

@import 'footer.scss';
@import 'burger.scss';