@import 'common.scss';

.footer {
    background-color: $mainColor;
    padding: 40px;

    .wrapper {
        display: grid;
    }

    .first-row {
        display: grid;
        grid-template-columns: 40% 60%;

        .text-box__text {
            font-family: $fontFamily;
            color: $mainWhite;
            font-size: 20px;
            line-height: 22px;
        }

    }

    .second-row {
        display: grid;
        grid-template-columns: 5% 45% 5% 45%;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        align-items: center;
        margin-top: 30px;

        a {
            font-size: 20px;
            line-height: 22px;
            text-decoration: none;
            font-family: $fontFamily;
            color: $mainWhite;
            justify-self: start;
            transition: all 0.3s ease 0s;
        }

        a:hover {
            text-decoration: underline;
            color: $hoverColor;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .first-row {
            grid-template-columns: 1fr;
            grid-template-rows: 30% 70%;

            .text-box__text {
                margin-top: 25px;
                padding-left: 0px;
            }
        }

        .second-row {
            grid-template-columns: 10% 90%;
            grid-template-rows: repeat(6, 1fr);
            grid-gap: 10px;
        }
    }
}