@import 'variables.scss';

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.title {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 48px;
    color: $mainWhite;
}

.header {
    background-color: $secondColor;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0px 5px 1vh #00000091;

    .wrapper {
        margin: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            z-index: 5;
        }

        .header__menu {
            flex: 1 1 70%;

            .menu__body {
                .menu__list {
                    display: flex;
                    justify-content: space-around;

                    .menu__link {
                        font-family: $fontFamily;
                        color: $mainWhite;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 22px;
                        text-decoration: none;
                        transition: text-decoration 0.3 ease 0s;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

main {
    background-color: $mainColor;
    margin-top: 30px;

    .poster_kino {
        h1 {
            width: 100%;
            height: 75px;
            text-align: center;
            padding: 50px 0px;
            font-family: $fontFamily;
            font-size: 64px;
            line-height: 70px;
            text-transform: uppercase;
            color: $fontColor;
            margin-bottom: 30px;
        }

        .options {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
            grid-gap: 65px;
            justify-items: center;
            margin: 0 auto;
            margin-bottom: 40px;

            .date,
            .session,
            .genres {

                height: 53px;
                background: rgba(29, 69, 128, .25);
                border: none;
                cursor: pointer;
                font-family: $fontFamily;
                font-size: 24px;
                line-height: 26px;
                text-transform: capitalize;
                color: $mainWhite;
                outline: none;
            }

            .session,
            .genres {
                width: 282px;
            }
        }

        .select {
            background: url('../icons/calendar.svg') no-repeat;
            background-position: right center;
        }

        .select2 {
            background: url('../icons/calendar.svg') no-repeat;
            background-position: right center;
        }

        .session,
        .genres {
            overflow: hidden;
            padding-left: 40px;
        }

        .date {
            width: 282px;
            padding-left: 40px;
        }

        .date::-webkit-calendar-picker-indicator {
            color: transparent;
            opacity: 1;
            background: url('../icons/calendar.svg');
            background-size: contain;
        }
    }

    .films {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        grid-template-rows: repeat(3, auto);
        grid-gap: 63px;
        justify-items: center;
        margin: 0 auto;

        .film {
            background: $secondColor;
            display: grid;
            grid-template-rows: auto 10% auto;
            justify-items: center;
            align-items: center;
            width: 282px;
            height: 600px;
            box-shadow: 5px 5px 1vh #00000091;

            h3 {
                height: auto;
                font-family: $fontFamily;
                font-size: 32px;
                line-height: 39px;
                text-transform: capitalize;
                color: #fff;
                text-align: center;
            }

            p {
                font-family: $fontFamily;
                font-size: 24px;
                line-height: 26px;

                color: #fff;
            }

            .img_film {
                width: 249px;
                height: 354px;

                .info {
                    opacity: 0;
                }
            }
        }

        .img_film:hover .info {

            opacity: 1;
            background: rgba(0, 0, 0, 0.8);

            width: 249px;
            height: 354px;

            display: grid;
            grid-template-rows: 75% 10% 15%;
            transition: .5s ease-in-out;
        }

        .time {
            font-size: 20px;
            line-height: 22px;

            justify-self: center;
            align-self: center;
        }

        .data {
            justify-self: center;
            font-size: 16px;
            line-height: 18px;
        }

        .buy {
            background: $mainButtonColor;
            color: $ButtonFontColor;
            font-size: 40px;
            line-height: 44px;
            border: none;
            text-decoration: none;
            text-align: center;
        }
    }
}

.footer {
    background-color: $mainColor;
    padding: 40px;

    .wrapper {
        display: grid;
    }

    .first-row {
        display: grid;
        grid-template-columns: 40% 60%;

        .text-box__text {
            font-family: $fontFamily;
            color: $mainWhite;
            font-size: 20px;
            line-height: 22px;
        }

    }

    .second-row {
        display: grid;
        grid-template-columns: 5% 45% 5% 45%;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;

        margin-top: 30px;

        p {
            font-size: 20px;
            line-height: 22px;

            font-family: $fontFamily;
            color: $mainWhite;
            justify-self: start;
        }
    }
}

@media (max-width: 768px) {
    main {
        .poster_kino {
            h1 {
                font-size: 48px;
            }
        }
    }

    .footer {
        .first-row {
            grid-template-columns: 1fr;
            grid-template-rows: 30% 70%;

            .text-box__text {
                margin-top: 25px;
                padding-left: 0px;
            }
        }

        .second-row {
            grid-template-columns: 10% 90%;
            grid-template-rows: repeat(6, 1fr);
            grid-gap: 10px;
        }
    }
}

@media (max-width: 425px) {
    main {
        .poster_kino {
            h1 {
                font-size: 32px;
            }
        }
    }
}

@import 'burger.scss';
@import 'popup_buy.scss';