@import 'common.scss';

body {
    background: url('../img/background.jpg') 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontFamily;
}

@import 'header.scss';

main {

    .poster_kino {
        margin-top: 85px;

        .title-box {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                .title {
                    font-family: $fontFamily;
                    font-weight: 400;
                    font-size: 48px;
                    color: $fontColor;
                    font-size: 64px;
                    line-height: 70px;
                    text-transform: uppercase;
                }

                @media (max-width: 830px) {
                    .title {
                        font-size: 30px;
                    }
                }

                @media (max-width: 450px) {
                    .title {
                        font-size: 24px;
                    }
                }
            }
    }

    .films {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        grid-template-rows: repeat(3, auto);
        grid-gap: 63px;
        justify-items: center;
        margin: 0 auto;
        padding-bottom: 20px;

        .film {
            border-radius: 7px;
            background: $mainColor;
            display: grid;
            grid-template-rows: auto 10% auto;
            justify-items: center;
            align-items: center;
            width: 282px;
            height: 600px;
            box-shadow: 5px 5px 1vh #00000091;
            padding: 20px 0px;

            h3 {
                height: auto;
                font-family: $fontFamily;
                font-size: 32px;
                line-height: 39px;
                text-transform: capitalize;
                color: $fontColor;
                text-align: center;
            }

            p {
                font-family: $fontFamily;
                font-size: 24px;
                line-height: 26px;
                color: $fontColor;
            }

            .img_film {
                width: 249px;
                height: 354px;

                .info {
                    width: 100%;
                    opacity: 0;
                }
            }
        }

        .img_film:hover .info {

            opacity: 1;
            background: rgba(0, 0, 0, 0.8);
            width: 249px;
            height: 354px;
            display: grid;
            grid-template-rows: 75% 10% 15%;
            transition: .5s ease-in-out;
        }

        .time {
            font-size: 20px;
            line-height: 22px;
            justify-self: center;
            align-self: center;
        }

        .data {
            justify-self: center;
            font-size: 16px;
            line-height: 18px;
        }

        .button-box {
            width: 100%;
            text-align: center;
            width: 249px;

            &__button {
                color: #000;
                background-color: #fff;
                border: none;
                border-radius: 7px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                outline: none;

                a {
                    display: block;
                    padding: 1.3vw 3vw;
                    font-family: $fontFamily;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 22px;
                    color: $mainWhite;
                    color: #000;
                    text-decoration: none;

                    @media (max-width:650px) {
                        font-size: 22px;
                        padding: 10px 15px;
                    }
                }
            }

            &__button:hover {
                background-color: $hoverColor;
                box-shadow: $shadow;
                transform: translateY(-7px);

                a {
                    color: #fff;
                }
            }

            &__button:active {
                transform: translateY(-1px);
            }
        }
    }
}

@import 'footer.scss';
@import 'popup_buy.scss';