@import 'common.scss';

body {
    background: url('../img/background.jpg') 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontFamily;
}

@import 'header.scss';

main {
    margin-top: 50px;

    .wrapper {
        display: flex;
        flex-flow: column nowrap;
        margin: 0px 20px;

        .title-box {
            padding: 50px;
            display: flex;
            justify-content: center;

            .title {
                font-family: $fontFamily;
                color: $fontColor;
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 70px;
                text-transform: uppercase;
            }

            @media (max-width: 768px) {
                .title {
                    font-size: 48px;
                }
            }
        }

        .card {
            width: 100%;
            border-radius: 7px;
            box-shadow: $shadow;
            background-color: $mainColor;
            margin-bottom: 70px;
            position: relative;

            img {
                position: absolute;
                top: -60px;
                left: 20px;
            }

            p {
                padding: 30px;
                font-family: $fontFamily;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 26px;
                color: $mainWhite;
            }

            @media (max-width: 768px) {
                p {
                    font-size: 20px;
                }
            }
        }

        .card:hover {
            transform: translateY(-7px);
            transition: all 0.3s ease 0s;
        }
    }
}

@import 'footer.scss';