@import 'variables.scss';

.container {
    max-width: 1024px;
    margin: 0 auto;
}

body.lock {
    overflow: hidden;
}

body{
    background-color: $mainColor;
}

.header {
    background-color: $secondColor;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 5;
    box-shadow: 0px 5px 1vh #00000091;

    .wrapper {
        margin: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            z-index: 5;
        }

        .header__menu {
            flex: 1 1 70%;

            .menu__body {
                .menu__list {
                    display: flex;
                    justify-content: space-around;

                    .menu__link {
                        color: $mainWhite;
                        font-family: $fontFamily;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 22px;
                        text-decoration: none;
                        @media (max-width:768px) {
                            font-size: 24px;
                        }
                    }

                    a:hover {
                        transition: all 0.3s ease 0s;
                        text-decoration: underline;
                        color: $fontColor;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 50px;

    .slider-box {
        background-color: $mainColor;
        overflow-x: hidden;

        .wrapper {
            padding: 40px;
            display: flex;
            justify-content: center;
            flex-flow: column nowrap;

            .image-slider {
                width: 100%;
                height: 100%;
                margin: 30px;
                .swiper-wrapper {
                    .swiper-slide {
                        .slide-container {
                            display: flex;
                            justify-content: center;

                            img {
                                max-width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }

            }

            .title-box {
                display: flex;
                justify-content: center;

                .title {
                    font-family: $fontFamily;
                    font-weight: 400;
                    font-size: 48px;
                    color: $fontColor;
                    font-size: 64px;
                    line-height: 70px;
                    text-transform: uppercase;
                }

                @media (max-width: 830px) {
                    .title {
                        font-size: 30px;
                    }
                }

                @media (max-width: 450px) {
                    .title {
                        font-size: 24px;
                    }
                }
            }

            .button-box {
                display: flex;
                justify-content: center;

                .button-box__button {
                    background-color: $mainButtonColor;
                    transition: background-color .3s ease 0s;
                    a.button-link {
                        display: block;
                        padding: 20px 30px;
                        text-decoration: none;
                        font-family: $fontFamily;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 22px;
                        color: $ButtonFontColor;
                        transition: text-decoration .3s ease 0s;
                        @media (max-width:650px) {
                                font-size: 22px;
                                padding: 10px 15px;
                        }
                    }
                    a.button-link:hover {
                        text-decoration: underline;
                    }
                }
                .button-box__button:hover {
                    background-color: #f4e46d;
                }
            }
        }
    }

    .in-cinema {
        background-color: $secondColor;

        .wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 40px;

            .card {
                margin-right: 30px;
                width: 450px;
                height: 250px;
                background-color: $mainColor;
            }
        }
    }

    .boutique {
        background: url('../img/бутик_кино.png');
        background-repeat: no-repeat;
        background-size: cover;

        .wrapper {
            display: flex;
            flex: 1 1 auto;
            flex-flow: column wrap;
            padding: 15px;

            .title-box {
                margin-bottom: 100px;
                margin-top: 50px;

                .title {
                    font-family: 'Homenaje';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 70px;
                    color: $mainWhite;
                }
            }

            .text-box {
                margin-bottom: 100px;

                &__text {
                    font-family: $fontFamily;
                    color: $mainWhite;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 22px;
                    p {
                        margin-bottom: 15px;
                    }
                }
            }

            .button-box {
                display: flex;
                justify-content: flex-end;

                .button-box__button {
                    background-color: $mainButtonColor;
                    transition: background-color .3s ease 0s;
                    a.button-link {
                        display: block;
                        padding: 20px 30px;
                        text-decoration: none;
                        font-family: $fontFamily;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 22px;
                        color: $ButtonFontColor;
                        transition: text-decoration .3s ease 0s;
                        @media (max-width:650px) {
                            font-size: 22px;
                            padding: 10px 15px;
                    }
                    }
                    a.button-link:hover {
                        text-decoration: underline;
                    }
                }
                .button-box__button:hover {
                    background-color: #f4e46d;
                }
            }
        }
    }

    .threed {
        background: url('../img/3д_кино.png');
        background-repeat: no-repeat;
        background-size: cover;


        .wrapper {
            display: flex;
            flex: 1 1 auto;
            flex-flow: column wrap;
            padding: 15px;

            .title-box {
                margin-bottom: 100px;
                margin-top: 50px;

                .title {
                    font-family: 'Homenaje';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 70px;
                    color: $mainWhite;
                }
            }

            .text-box {
                margin-bottom: 100px;

                &__text {
                    font-family: $fontFamily;
                    color: $mainWhite;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 22px;
                    p {
                        margin-bottom: 15px;
                    }
                }
            }

            .button-box {
                display: flex;
                justify-content: flex-end;

                .button-box__button {
                    background-color: $mainButtonColor;
                    transition: background-color .3s ease 0s;
                    a.button-link {
                        display: block;
                        padding: 20px 30px;
                        text-decoration: none;
                        font-family: $fontFamily;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 22px;
                        color: $ButtonFontColor;
                        transition: text-decoration .3s ease 0s;
                        @media (max-width:650px) {
                            font-size: 22px;
                            padding: 10px 15px;
                    }
                    }
                    a.button-link:hover {
                        text-decoration: underline;
                    }
                }
                .button-box__button:hover {
                    background-color: #f4e46d;
                }
            }
        }
    }
}

.footer {
    background-color: $mainColor;
    padding: 40px;

    .wrapper {
        display: grid;
    }

    .first-row {
        display: grid;
        grid-template-columns: 40% 60%;

        .text-box__text {
            font-family: $fontFamily;
            color: $mainWhite;
            font-size: 20px;
            line-height: 22px;
        }

    }

    .second-row {
        display: grid;
        grid-template-columns: 5% 45% 5% 45%;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 30px;
        align-items: center;
        margin-top: 30px;
        a {
            font-size: 20px;
            line-height: 22px;
            text-decoration: none;
            font-family: $fontFamily;
            color: $mainWhite;
            justify-self: start;
            transition: all 0.3s ease 0s;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .first-row {
            grid-template-columns: 1fr;
            grid-template-rows: 30% 70%;

            .text-box__text {
                margin-top: 25px;
                padding-left: 0px;
            }
        }

        .second-row {
            grid-template-columns: 10% 90%;
            grid-template-rows: repeat(6, 1fr);
            grid-gap: 10px;
        }
    }
}

@import 'burger.scss';