@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap&subset=cyrillic-ext');
$fontFamily: 'Raleway', sans-serif;
$mainColor: #202733;
$secondColor: #6b7193;
$mainWhite: #ffffff;
$popupColor: #000000c3;
$mainButtonColor: #202733;
$shadow: 0px 15px 20px #1d252766;
$fontColor: #fff;
$hoverColor: #498fcc;