@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap&subset=cyrillic-ext');
$fontFamily: 'Homenaje';
$headerColor: #2F375B;
$secondColor: #2F375B;
$mainColor: #12172e;
$mainWhite: rgb(255, 255, 255);
$popupColor: rgba(18, 23, 46, 0.9);
$ButtonFontColor: rgb(29, 69, 128);
$mainButtonColor: #f9f0a4;
$fontColor: #F9F0A4;
$modalColor: #1d4580;