$fontFamily: 'Homenaje';
$headerColor: rgb(36, 49, 87);
$mainColor: rgb(18, 23, 46);
$mainWhite: rgb(255, 255, 255);
$burgerColor: rgba(18, 23, 46, 0.9);
$ButtonFontColor: rgb(29, 69, 128);
$mainButtonColor: rgb(249, 240, 164);